<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio Espacial</title>
    <link rel="stylesheet" href="/page-4/css/carrosel4.css">
</head>
<body>

    <section class="portfolio">
        <h2>Nosso Portfólio</h2>
        
        <div class="portfolio-grid" id="portfolio-grid">
            </div>

        <div class="pagination" id="pagination">
            <button id="prev"> < </button>
            <div id="page-numbers"></div>
            <button id="next"> > </button>
        </div>
    </section>

    <script src="/page-4/js/scripts.js"></script>
</body>
</html>