/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b0b10;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 40px;
  background: rgba(15, 15, 25, 0.85);
  backdrop-filter: blur(10px);
}

/* LOGO */
.logo img {
  height: 32px;
}

/* MENU */
.menu ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.menu a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.menu a:hover {
  color: #fff;
}

/* BOTÃO */
.cta a {
  background: linear-gradient(90deg, #4f7cff, #7a5cff);
  color: #fff;
  padding: 10px 18px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 80px 40px;
  color: white;
}

.hero-content {
  max-width: 500px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.hero-image img {
  max-width: 500px;
  width: 100%;
}

.hero h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.hero p {
  font-size: 16px;
  color: #ccc;
}

.btn {
  padding: 12px 24px;
  border-radius: 24px;
  text-decoration: none;
  font-size: 14px;
}

.btn.primary {
  background: linear-gradient(90deg, #4f7cff, #7a5cff);
  color: #fff;
}

.btn.secondary {
  border: 1px solid #555;
  color: #fff;
}
