<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Empresa</title>
    
    <link rel="stylesheet" href="../css/cards2.css">
</head>
<body>

    <section class="container-empresa">
      <div class="card-empresa">
        <div class="video-empresa">
          <video autoplay muted loop playsinline>
            <source src="src/logo-video.mp4" type="video/mp4">
            Seu navegador não suporta vídeos.
          </video>
        </div>
        <div class="conteudo-empresa">
          <h2>Um Pouco Sobre Empresa</h2>
          <p>
            A NopDesign é uma empresa especializada em unir o que há de mais avançado em tecnologia ao marketing e à estratégia de vendas.

Fundada por duas mulheres visionárias, nascemos com o propósito de oferecer aos empreendedores a oportunidade de alavancar seus negócios de forma inteligente, atingindo o público certo, da maneira certa.

Mais do que criar um design bonito  o que também fazemos com excelência , buscamos posicionar sua marca no mercado, construir uma identidade sólida e entregar um rosto forte e autêntico para o seu negócio.
          </p>
        </div>
      </div>
    </section>

</body>
</html>