<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner Nope Design</title>
    <link rel="stylesheet" href="/page-3/css/meio3.css">
</head>
<body>

    <section class="banner">
        <div class="container">
            <div class="content">
                <div class="logo">
                    <img src="/page-3/src/logo-baixo.png" alt="Nope Design Logo">
                </div>
                <p class="description">
                    Estamos à disposição para esclarecer quaisquer dúvidas ou fornecer informações adicionais.
                </p>
            </div>

            <div class="mockup">
                <img src="/page-3/src/celular-baixo.png" alt="Instagram Mockup">
            </div>
        </div>
    </section>

</body>
</html>