<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page - NOPE</title>
    
    <link rel="stylesheet" href="css/primeirocard3.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <section class="services-section">
        <h2 class="main-title">Nossos Serviços</h2>
        <div class="glow-line"></div>
        <p class="main-subtitle">Soluções personalizadas para transformar sua marca.</p>

        <div class="cards-container">
            
            <div class="service-card">
                <div class="icon-box">
                    <img src="/page-3/src/arte-estatica.png" alt="Arte Estática">
                </div>
                <h3>Artes Estáticas</h3>
                <ul class="card-list">

                </ul>
                
                <div class="price-container">
                    <div class="unit-price">1 Unidade: <span>R$ 35</span></div>
                    <div class="price-tag">Combo 10 artes: R$ 250</div>
                </div>
            </div>

            <div class="service-card">
                <div class="icon-box">
                    <img src="/page-3/src/video-de-1min.png" alt="Arte Estática">
                </div>
                <h3>Videos de 1min</h3>
                <ul class="card-list">

                </ul>
                
                <div class="price-container">
                    <div class="unit-price">1 Unidade: <span>R$  50</span></div>
                    <div class="price-tag">Combo 10 artes: R$ 400</div>
                </div>
            </div>

            <div class="service-card">
                <div class="icon-box">
                    <img src="/page-3/src/gerenciamento-redes-sociais.png" alt="Arte Estática">
                </div>
                <h3>Gerenciamento Redes Sociais Mensal</h3>
                <ul class="card-list">

                </ul>
                
                <div class="price-container">
                    <div class="price-tag">R$ 500/Més</div>
                </div>
            </div>

        </div>
    </section>

</body>
</html>