<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page - NOPE</title>
    
    <link rel="stylesheet" href="../css/cards-1.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <section class="services-section">
        <div class="cards-container">
            
            <div class="service-card">
                <div class="icon-box">
                    <img src="/page-3/src/Captação-de-leads-mensal.png" alt="Arte Estática">
                </div>
                <h3>Captação de leads mensal</h3>
                <ul class="card-list">

                </ul>
                
                <div class="price-container">
                    <div class="unit-price"><span>+ Investimento no Meta</span></div>
                    <div class="price-tag">R$ 400</div>
                </div>
            </div>

            <div class="service-card">
                <div class="icon-box">
                    <img src="/page-3/src/Captação-de-Imagem.png" alt="Arte Estática">
                </div>
                <h3>Captação de Imagem</h3>
                <ul class="card-list">

                </ul>
                
                <div class="price-container">
                    <div class="unit-price"><span>4 Horas de Captação Incluso Edição e Slides, Passagem a Combinar </span></div>
                    <div class="price-tag">R$ 500</div>
                </div>
            </div>

            <div class="service-card">
                <div class="icon-box">
                    <img src="/page-3/src/bt-logo.png" alt="Arte Estática">
                </div>
                <h3>criação de Logo</h3>
                <ul class="card-list">

                </ul>
                
                <div class="price-container">
                    <div class="price-tag">1 Unidade: R$ 200</div>
                </div>
            </div>

        </div>
    </section>

</body>
</html>